body{
    text-align: center;
}

#buttons{
    display: flex;
    justify-content: space-around;
}

#tables{
    text-align: center;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    width: 1000px;
    
}
table{
    margin-top: 30px;
    margin:auto;
    /*This instead of visibility because it will actually be removed from the page*/
    display: none;
}

/* #student_table{
    z-index: 1;
}
#teacher_table{
    z-index: 2;
}
#subject_table{
    z-index:3;
} */


